.wgx-tip {
	pointer-events: none;
	z-index: 99999;
}

.wgx-tip rect {
	fill: #ffffe0;
	stroke: #999;
	stroke-width: 0;
	z-index: 99999;
}

.wgx-tip text {
	font-family: sans-serif;
	padding-top: 20px;
	z-index: 99999;
}

.wgx-status {
	font-family: sans-serif;
	fill: #757575;
}

.wgx-mo-h {
	opacity: 0;
	pointer-events: none;
}

.wgx-mo:hover .wgx-mo-d {
	opacity: 0;
}

.wgx-mo:hover .wgx-mo-h {
	opacity: 1;
}

[data-wgx-click] {
	transition: transform 0.15s ease;
}
